<div class="bottom-page-wrap">

    <div class="footer-first-row">
        <div class="container">
            <div class="row">

                <div class="col-4 footer-sidebar-wrap">
                    <div id="nav_menu-4" class="widget widget_nav_menu"><h3 class="widget-title">KURUMSAL</h3>
                        <div class="menu-alt-menu-container">
                            <ul id="menu-alt-menu" class="menu">
                                <li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193">
                                    <a href="https://www.thehuyenbi.com/hakkimizda/">Hakkımızda</a>
                                </li>
                                <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-241">
                                    <a href="https://www.thehuyenbi.com/gizlilik-ve-guvenlik/">Gizlilik ve Güvenlik</a>
                                </li>
                                <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191">
                                    <a href="https://www.thehuyenbi.com/iletisim/">İletişim</a>
                                </li>
                            </ul>
                        </div>
                    </div>						
                </div>
                                    <!-- Widgets end -->

                <div class="col-4 footer-sidebar-wrap">
                    <div id="nav_menu-5" class="widget widget_nav_menu">
                        <h3 class="widget-title">MÜŞTERİ</h3>
                        <div class="menu-alt-menu-2-container">
                            <ul id="menu-alt-menu-2" class="menu">
                                <li id="menu-item-194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194">
                                    <a href="https://www.thehuyenbi.com/uyelik/">Üyelik</a>
                                </li>
                                <li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195">
                                    <a href="https://www.thehuyenbi.com/alisveris/">Alışveriş</a>
                                </li>
                                <li id="menu-item-196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196">
                                    <a href="https://www.thehuyenbi.com/kargo-teslimat/">Kargo &amp; Teslimat</a>
                                </li>
                                <li id="menu-item-197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197">
                                    <a href="https://www.thehuyenbi.com/uyelik-on-bilgilendirme/">Üyelik Ön Bilgilendirme</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                                    <!-- Widgets end -->

                <div class="col-4 footer-sidebar-wrap">
                    <div id="nav_menu-6" class="widget widget_nav_menu">
                        <h3 class="widget-title">YARDIM</h3>
                        <div class="menu-alt-menu-3-container">
                            <ul id="menu-alt-menu-3" class="menu">
                                <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198">
                                    <a href="https://www.thehuyenbi.com/odeme-guvenlik/">Ödeme &amp; Güvenlik</a>
                                </li>
                                <li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199">
                                    <a href="https://www.thehuyenbi.com/iade-degisim/">İade &amp; Değişim</a>
                                </li>
                                <li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200">
                                    <a href="https://www.thehuyenbi.com/mesafeli-satis-sozlesmesi/">Mesafeli Satış Sözleşmesi</a>
                                </li>
                            </ul>
                        </div>
                    </div>	
                </div>
                                   
            </div>
        </div>
    </div>

    <footer class="footer-second-row">


        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <p class="copyright font-alt" id="footer-copyright-brand-name">© 2020, ODDZKI. </p>
                </div>
                <div class="col-sm-6">
                    <div class="footer-social-links">
                        <a href="https://facebook.com/thehuyenbi" target="_blank">
                            <span class="social_facebook"></span>
                        </a>
                        <a href="https://twitter.com/thehuyenbi" target="_blank">
                            <span class="social_twitter"></span>
                        </a>
                        <a href="https://www.instagram.com/thehuyenbi/" target="_blank">
                            <span class="social_instagram"></span>
                        </a>
                    </div>
                </div>				
            </div>

        </div>

    </footer>
