<div class="main-image-container">

    <div class="main-image">

        <div class="main-text-overimage">
            <p id="first-line" >COLLECTIONS</p>
            <p id="second-line" >Explore this week's latest menswear pieces of the season curated for you</p>
            <p id="third-line" >Autumn Winter Man Collection<p>
                
            <a routerLink="/shop" class="position-relative">
                <input id="button-view-collection" type="button" value="VIEW" class="btn-black btn-block">
            </a>

        </div>
        
    </div>
    
</div>

