<link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'> 
<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'> 
<meta name="viewport" content="width=device-width, initial-scale=1" >

<div class="app-main-div">


   <app-nav-bar></app-nav-bar>

   <div class="container-fluid">
      <router-outlet> </router-outlet>
   </div>
  
   <app-footer></app-footer>

</div>
